.App {
  font-family: sans-serif;
  text-align: center;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.header {
  gap: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.history {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.timer{
  color: #9b1b1b;
  font-size: larger;
}

.history-and-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.message{
  font-size: medium;
  color: #343333;
}

.smile {
  padding: 3px;
  border-top: 3px solid #9d9d9d;
  border-left: 3px solid #9d9d9d;
  border-bottom: 3px solid #4a4a4a;
  border-right: 3px solid #4a4a4a;
  background-color: #343333;
}

.square {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #777;
  border-right: 3px solid #777;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.square--revealed {
  border: 1px solid #777;
}

.square--revealed[data-value="1"] {
  color: #0000ff;
}

.square--revealed[data-value="2"] {
  color: #027b00;
}

.square--revealed[data-value="3"] {
  color: #ff0000;
}

.square--revealed[data-value="4"] {
  color: #00007b;
}

.square--revealed[data-value="5"] {
  color: #00007b;
}

.square--revealed[data-value="6"] {
  color: #00007b;
}

.square--revealed[data-value="7"] {
  color: #000000;
}

.square--revealed[data-value="8"] {
  color: #7b7b7b;
}